<div id="shopify-section-new-age-popup" class="shopify-section section-new-popup"><link href="//ghostdrops.com/cdn/shop/t/42/assets/new-age-popup.css?v=135181360710604207681681941389" rel="stylesheet" type="text/css" media="all">

  
  <div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" style="padding-right: 17px; display: block;" aria-modal="true">
    <div class="modal-dialog modal-lg modal-dialog-centered transparent-bg" role="document">

<style>
    #lottie-preloader-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
        z-index: 9999;
        background: #000;
    }
    @media screen and (min-width: 520px) {
        #lottie-preloader-wrapper {
        height: 100vh;
    }
    }
</style>

<script>
    window.addEventListener('load', (event) => {
        const animationDesktop = document.getElementById("lottie-preloader-desktop");
        const animationMobile = document.getElementById("lottie-preloader-mobile");

        const clearAnimation = () => {
        document.querySelector('#exampleModalCenter #lottie-preloader-wrapper').remove();
        document.querySelector('#exampleModalCenter #age_checker').classList.remove('d-none');
        };

        setTimeout(clearAnimation, 2000);
        animationDesktop.addEventListener("complete", clearAnimation);
        animationMobile.addEventListener("complete", clearAnimation);
    });
</script><div class="modal-content trans-bg" id="age_checker">
        <div class="modal-body new-ageup text-center">
          <h5>ONLY enter if you are 19+</h5>
          <h2 class="desk-h2">Ghosts can be scary. This website is not for kids.</h2>
          <h2 class="mob-h2">
            Ghosts can be<br>
            scary. This website<br>
            is not for kids.
          </h2>

          <div style="display:none;">
            <select name="bmonth" id="bmonth" value="1">
              
            </select>
            <select name="bday" id="bday" value="1">
              
            </select>
            <select name="byear" id="byear" value="1950">
              
            </select>
            <div style="clear:both; margin-bottom:15px"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="button-exit" onclick="window.location.href='https://youtu.be/dQw4w9WgXcQ&amp;autoplay=1'" type="button" class="new-btn btn-secondary" data-dismiss="modal">
            No, I'll leave
          </button>
          <button type="button" id="submit_birthdate" onclick="ageCheck()" class="new-btn btn-primary dsk-view">
            <span class="new-mob-btn"><svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M14.7455 15.3412C14.5727 14.9085 14.3758 14.4181 14.3758 13.9032V5.95318C14.3758 1.86416 10.8444 0 7.5602 0C4.11517 0 0.623922 2.04541 0.623922 5.95318V13.9032C0.623922 14.4181 0.428864 14.9085 0.256012 15.3412C0.0429484 15.8699 -0.138306 16.3243 0.14738 16.6964C0.364645 16.9797 0.74876 17.1345 1.2313 17.1345C1.70365 17.1345 2.20059 16.9839 2.62852 16.7102C2.83979 16.5734 3.14168 16.3927 3.35474 16.3927C3.42316 16.3927 3.60802 16.3927 3.86969 16.859C4.60971 18.1602 5.68764 18.3457 6.86639 17.3176C7.17968 17.0457 7.81767 17.0421 8.13337 17.3176C8.64052 17.7617 9.11106 17.9772 9.5732 17.9772C10.1842 17.9772 10.7075 17.6015 11.1301 16.859C11.3935 16.3927 11.5844 16.3927 11.6468 16.3927C11.8581 16.3927 12.1618 16.5734 12.3706 16.7102C12.7992 16.9839 13.2961 17.1345 13.7709 17.1345C14.2516 17.1345 14.6357 16.9797 14.853 16.6982C15.1381 16.3243 14.9568 15.8699 14.7455 15.3412Z" fill="white"></path>
  <path d="M4.92642 5.14234C5.10347 5.26898 5.28712 5.38661 5.47138 5.50365C5.49719 5.51925 5.52239 5.53486 5.5476 5.55046C5.50859 5.61108 5.47018 5.6723 5.43237 5.73352C5.38975 5.80374 5.34714 5.87396 5.30633 5.94538C5.26432 6.0162 5.22411 6.08822 5.18689 6.16204C5.11247 6.31029 5.04405 6.46394 4.99844 6.63319C4.99724 6.63739 4.99784 6.64279 5.00024 6.64699C5.00504 6.65479 5.01584 6.65779 5.02365 6.65239C5.17309 6.55996 5.30093 6.45133 5.42216 6.3379C5.48278 6.28088 5.5404 6.22206 5.59622 6.16204C5.65263 6.10203 5.70785 6.04141 5.76307 5.98079C5.82128 5.91597 5.8789 5.85055 5.93592 5.78393L6.03315 5.84095C6.2228 5.95018 6.41246 6.05941 6.60932 6.15904C6.70775 6.20886 6.80738 6.25747 6.90881 6.30189C7.01024 6.3475 7.11347 6.39011 7.2209 6.42792C7.2215 6.42792 7.2221 6.42792 7.2221 6.42792C7.2227 6.42732 7.2227 6.42672 7.2227 6.42612C7.15368 6.3361 7.08106 6.25087 7.00544 6.16925C6.93102 6.08642 6.85359 6.0072 6.77557 5.92917C6.61952 5.77373 6.45627 5.62728 6.29302 5.48144L6.22881 5.42502C6.28102 5.3572 6.33204 5.28818 6.38065 5.21736C6.45147 5.11353 6.43227 4.97009 6.33324 4.88966C6.22881 4.80444 6.07456 4.82004 5.98933 4.92507C5.94252 4.98269 5.89811 5.04211 5.85429 5.10153C5.83509 5.08532 5.81648 5.06912 5.79728 5.05291C5.62863 4.91427 5.45938 4.77683 5.28412 4.64779C5.28352 4.64719 5.28172 4.64599 5.28112 4.64539C5.14428 4.54756 4.95342 4.57937 4.8556 4.71621C4.75777 4.85365 4.78958 5.04451 4.92642 5.14234Z" fill="#B93AC6"></path>
  <path d="M10.3384 6.00168C10.1289 5.80122 9.90685 5.61937 9.68478 5.43752C9.68238 5.43572 9.68058 5.43392 9.67818 5.43272C9.81262 5.27907 9.94406 5.12362 10.0665 4.96037C10.1619 4.83193 10.1439 4.64948 10.0209 4.54325C9.89244 4.43222 9.69798 4.44662 9.58695 4.57566C9.45191 4.73231 9.32767 4.89676 9.20524 5.063C9.13862 5.01259 9.0726 4.96097 9.00478 4.91176C8.77371 4.74311 8.53904 4.57926 8.29416 4.43042C8.13872 4.33679 7.93286 4.3722 7.82002 4.51924C7.69819 4.67769 7.72819 4.90456 7.88664 5.02639C8.11411 5.20105 8.35178 5.36009 8.59305 5.51374C8.66267 5.55755 8.7329 5.60017 8.80312 5.64278C8.79411 5.65658 8.78451 5.66979 8.77551 5.68359C8.64947 5.87565 8.52763 6.07131 8.413 6.27237C8.35538 6.3726 8.30077 6.47523 8.24675 6.57906C8.19393 6.68289 8.14172 6.78792 8.0961 6.89775C8.0943 6.90316 8.0943 6.90856 8.09791 6.91396C8.10331 6.92116 8.11351 6.92356 8.12131 6.91816C8.21854 6.84974 8.30977 6.77592 8.3998 6.7021C8.48922 6.62767 8.57745 6.55145 8.66327 6.47403C8.83493 6.31858 8.99938 6.15713 9.15962 5.99268C9.18783 5.96387 9.21484 5.93446 9.24305 5.90566C9.27246 5.92246 9.30126 5.93987 9.33067 5.95667C9.58035 6.09771 9.83122 6.23816 10.0935 6.36119C10.2249 6.42241 10.3588 6.48003 10.4962 6.53224C10.6337 6.58446 10.7747 6.63187 10.9236 6.66788C10.9242 6.66788 10.9242 6.66788 10.9248 6.66788C10.9254 6.66728 10.9254 6.66668 10.9254 6.66608C10.8377 6.54065 10.7429 6.42661 10.6439 6.31738C10.5454 6.20575 10.4434 6.10191 10.3384 6.00168Z" fill="#B93AC6"></path>
  <path d="M10.3458 8.33055C10.2305 8.37976 10.1141 8.42658 9.99825 8.46019C9.94124 8.47699 9.88122 8.4914 9.8338 8.4902C9.8236 8.489 9.8104 8.4902 9.8062 8.4866C9.805 8.486 9.8032 8.4854 9.802 8.4854L9.79959 8.48479L9.79479 8.48299L9.77499 8.47579L9.68916 8.44278C9.57093 8.39777 9.44729 8.35156 9.30385 8.33235C9.23242 8.32335 9.1544 8.31975 9.06678 8.34135L9.03377 8.35096L9.01756 8.35636L9.00076 8.36356L8.96775 8.37976L8.95934 8.38397C8.95694 8.38517 8.95214 8.38757 8.95514 8.38577C8.95694 8.38397 8.95874 8.38217 8.96114 8.38096C8.97915 8.37196 8.97075 8.37556 8.95454 8.37016C8.91913 8.36056 8.86572 8.33955 8.8135 8.31494L8.64725 8.23632C8.53262 8.18231 8.41078 8.12769 8.27634 8.08808C8.20972 8.06767 8.1389 8.05087 8.06508 8.04126C7.99125 8.03166 7.91323 8.02626 7.83281 8.03466C7.75238 8.04246 7.67016 8.06047 7.59153 8.09288L7.53332 8.11869L7.4781 8.1499C7.45949 8.1601 7.44329 8.1733 7.42588 8.18471L7.38507 8.21351C7.31125 8.26933 7.21582 8.31314 7.11319 8.34675C7.01056 8.38096 6.89953 8.40197 6.78669 8.41818C6.55983 8.44939 6.32335 8.44638 6.08808 8.42538C5.67636 8.38577 5.26764 8.28133 4.88052 8.12109C4.88652 8.11208 4.89253 8.10368 4.89793 8.09528C4.93334 8.04126 4.96455 7.98665 4.99456 7.93083C5.00956 7.90322 5.02397 7.87501 5.03777 7.84681C5.05217 7.818 5.06478 7.79159 5.07858 7.75858L5.08098 7.75318C5.08518 7.74357 5.08818 7.73337 5.09119 7.72317C5.12059 7.60673 5.05037 7.4885 4.93394 7.45909C4.8175 7.42968 4.69927 7.4999 4.66986 7.61574C4.66386 7.63854 4.65546 7.66735 4.64825 7.69316C4.64045 7.72017 4.63265 7.74657 4.62425 7.77298C4.60804 7.8264 4.59064 7.87921 4.57263 7.93023C4.55403 7.98124 4.53482 8.03226 4.51321 8.07847C4.50241 8.10128 4.49101 8.12409 4.4802 8.14389L4.4718 8.1595L4.4634 8.1721L4.455 8.18531L4.43459 8.21231C4.37817 8.28974 4.36257 8.36356 4.35176 8.43078C4.34216 8.4986 4.34156 8.56282 4.34396 8.62584C4.35056 8.75188 4.37157 8.87251 4.40458 8.99015C4.40638 8.99615 4.41118 9.00095 4.41778 9.00155C4.42679 9.00275 4.43519 8.99675 4.43639 8.98835V8.98775C4.4556 8.87011 4.4796 8.75308 4.51141 8.64444C4.52702 8.58983 4.54682 8.53821 4.56783 8.4914C4.58944 8.44578 4.61884 8.40677 4.63985 8.39477L4.64345 8.39237L4.64525 8.39117L4.64825 8.38877L4.67046 8.37016L4.68606 8.35696C5.10199 8.59343 5.56353 8.74827 6.04187 8.8161C6.30235 8.85331 6.56823 8.86231 6.83711 8.8341C6.97215 8.8197 7.10719 8.79449 7.24223 8.75188C7.37727 8.70926 7.51291 8.65225 7.64075 8.55922L7.66356 8.54301L7.67616 8.53401C7.68456 8.52861 7.69236 8.52081 7.70137 8.5166C7.71037 8.5118 7.71877 8.5064 7.72777 8.5016L7.75538 8.4896C7.79259 8.47459 7.83281 8.46319 7.87662 8.45779C7.96485 8.44698 8.06688 8.45599 8.17431 8.47879C8.28174 8.5016 8.39397 8.53641 8.51101 8.57482C8.56923 8.59403 8.62924 8.61443 8.69286 8.63364C8.75708 8.65285 8.8225 8.67325 8.91073 8.68286C8.92153 8.68406 8.93534 8.68406 8.94674 8.68466C8.95334 8.68466 8.95874 8.68526 8.96535 8.68466L8.98755 8.68286L9.00916 8.68045C9.01636 8.67985 9.02596 8.67685 9.03437 8.67505C9.05177 8.67085 9.06798 8.66665 9.08718 8.65585C9.09678 8.65104 9.10579 8.64624 9.11479 8.64084L9.12259 8.63604C9.12499 8.63424 9.12799 8.63184 9.13039 8.63004L9.1346 8.62644L9.14 8.62404L9.1514 8.61803C9.18381 8.60303 9.23303 8.59523 9.28524 8.59403C9.33806 8.59343 9.39507 8.59703 9.45329 8.60423C9.51151 8.61143 9.57093 8.62344 9.63214 8.63424L9.72697 8.65164L9.75218 8.65585L9.75878 8.65705L9.76839 8.65765L9.78699 8.65885C9.814 8.66125 9.8314 8.65585 9.85241 8.65285C9.92923 8.63604 9.98685 8.60543 10.0451 8.57422C10.1591 8.51 10.2623 8.43678 10.3602 8.35576C10.3656 8.35156 10.3674 8.34375 10.3644 8.33715C10.3632 8.33055 10.3536 8.32695 10.3458 8.33055Z" fill="#B93AC6"></path>
</svg>
</span>
            <span class="new-mob-view">Let me in. I'm 19+</span>
          </button>
          <button id="submit_birthdate" onclick="ageCheck()" type="button" class="btn btn-secondary mob-view mob_enter_btn">
            <span class="new-mob-btn"><svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M14.7455 15.3412C14.5727 14.9085 14.3758 14.4181 14.3758 13.9032V5.95318C14.3758 1.86416 10.8444 0 7.5602 0C4.11517 0 0.623922 2.04541 0.623922 5.95318V13.9032C0.623922 14.4181 0.428864 14.9085 0.256012 15.3412C0.0429484 15.8699 -0.138306 16.3243 0.14738 16.6964C0.364645 16.9797 0.74876 17.1345 1.2313 17.1345C1.70365 17.1345 2.20059 16.9839 2.62852 16.7102C2.83979 16.5734 3.14168 16.3927 3.35474 16.3927C3.42316 16.3927 3.60802 16.3927 3.86969 16.859C4.60971 18.1602 5.68764 18.3457 6.86639 17.3176C7.17968 17.0457 7.81767 17.0421 8.13337 17.3176C8.64052 17.7617 9.11106 17.9772 9.5732 17.9772C10.1842 17.9772 10.7075 17.6015 11.1301 16.859C11.3935 16.3927 11.5844 16.3927 11.6468 16.3927C11.8581 16.3927 12.1618 16.5734 12.3706 16.7102C12.7992 16.9839 13.2961 17.1345 13.7709 17.1345C14.2516 17.1345 14.6357 16.9797 14.853 16.6982C15.1381 16.3243 14.9568 15.8699 14.7455 15.3412Z" fill="white"></path>
  <path d="M4.92642 5.14234C5.10347 5.26898 5.28712 5.38661 5.47138 5.50365C5.49719 5.51925 5.52239 5.53486 5.5476 5.55046C5.50859 5.61108 5.47018 5.6723 5.43237 5.73352C5.38975 5.80374 5.34714 5.87396 5.30633 5.94538C5.26432 6.0162 5.22411 6.08822 5.18689 6.16204C5.11247 6.31029 5.04405 6.46394 4.99844 6.63319C4.99724 6.63739 4.99784 6.64279 5.00024 6.64699C5.00504 6.65479 5.01584 6.65779 5.02365 6.65239C5.17309 6.55996 5.30093 6.45133 5.42216 6.3379C5.48278 6.28088 5.5404 6.22206 5.59622 6.16204C5.65263 6.10203 5.70785 6.04141 5.76307 5.98079C5.82128 5.91597 5.8789 5.85055 5.93592 5.78393L6.03315 5.84095C6.2228 5.95018 6.41246 6.05941 6.60932 6.15904C6.70775 6.20886 6.80738 6.25747 6.90881 6.30189C7.01024 6.3475 7.11347 6.39011 7.2209 6.42792C7.2215 6.42792 7.2221 6.42792 7.2221 6.42792C7.2227 6.42732 7.2227 6.42672 7.2227 6.42612C7.15368 6.3361 7.08106 6.25087 7.00544 6.16925C6.93102 6.08642 6.85359 6.0072 6.77557 5.92917C6.61952 5.77373 6.45627 5.62728 6.29302 5.48144L6.22881 5.42502C6.28102 5.3572 6.33204 5.28818 6.38065 5.21736C6.45147 5.11353 6.43227 4.97009 6.33324 4.88966C6.22881 4.80444 6.07456 4.82004 5.98933 4.92507C5.94252 4.98269 5.89811 5.04211 5.85429 5.10153C5.83509 5.08532 5.81648 5.06912 5.79728 5.05291C5.62863 4.91427 5.45938 4.77683 5.28412 4.64779C5.28352 4.64719 5.28172 4.64599 5.28112 4.64539C5.14428 4.54756 4.95342 4.57937 4.8556 4.71621C4.75777 4.85365 4.78958 5.04451 4.92642 5.14234Z" fill="#B93AC6"></path>
  <path d="M10.3384 6.00168C10.1289 5.80122 9.90685 5.61937 9.68478 5.43752C9.68238 5.43572 9.68058 5.43392 9.67818 5.43272C9.81262 5.27907 9.94406 5.12362 10.0665 4.96037C10.1619 4.83193 10.1439 4.64948 10.0209 4.54325C9.89244 4.43222 9.69798 4.44662 9.58695 4.57566C9.45191 4.73231 9.32767 4.89676 9.20524 5.063C9.13862 5.01259 9.0726 4.96097 9.00478 4.91176C8.77371 4.74311 8.53904 4.57926 8.29416 4.43042C8.13872 4.33679 7.93286 4.3722 7.82002 4.51924C7.69819 4.67769 7.72819 4.90456 7.88664 5.02639C8.11411 5.20105 8.35178 5.36009 8.59305 5.51374C8.66267 5.55755 8.7329 5.60017 8.80312 5.64278C8.79411 5.65658 8.78451 5.66979 8.77551 5.68359C8.64947 5.87565 8.52763 6.07131 8.413 6.27237C8.35538 6.3726 8.30077 6.47523 8.24675 6.57906C8.19393 6.68289 8.14172 6.78792 8.0961 6.89775C8.0943 6.90316 8.0943 6.90856 8.09791 6.91396C8.10331 6.92116 8.11351 6.92356 8.12131 6.91816C8.21854 6.84974 8.30977 6.77592 8.3998 6.7021C8.48922 6.62767 8.57745 6.55145 8.66327 6.47403C8.83493 6.31858 8.99938 6.15713 9.15962 5.99268C9.18783 5.96387 9.21484 5.93446 9.24305 5.90566C9.27246 5.92246 9.30126 5.93987 9.33067 5.95667C9.58035 6.09771 9.83122 6.23816 10.0935 6.36119C10.2249 6.42241 10.3588 6.48003 10.4962 6.53224C10.6337 6.58446 10.7747 6.63187 10.9236 6.66788C10.9242 6.66788 10.9242 6.66788 10.9248 6.66788C10.9254 6.66728 10.9254 6.66668 10.9254 6.66608C10.8377 6.54065 10.7429 6.42661 10.6439 6.31738C10.5454 6.20575 10.4434 6.10191 10.3384 6.00168Z" fill="#B93AC6"></path>
  <path d="M10.3458 8.33055C10.2305 8.37976 10.1141 8.42658 9.99825 8.46019C9.94124 8.47699 9.88122 8.4914 9.8338 8.4902C9.8236 8.489 9.8104 8.4902 9.8062 8.4866C9.805 8.486 9.8032 8.4854 9.802 8.4854L9.79959 8.48479L9.79479 8.48299L9.77499 8.47579L9.68916 8.44278C9.57093 8.39777 9.44729 8.35156 9.30385 8.33235C9.23242 8.32335 9.1544 8.31975 9.06678 8.34135L9.03377 8.35096L9.01756 8.35636L9.00076 8.36356L8.96775 8.37976L8.95934 8.38397C8.95694 8.38517 8.95214 8.38757 8.95514 8.38577C8.95694 8.38397 8.95874 8.38217 8.96114 8.38096C8.97915 8.37196 8.97075 8.37556 8.95454 8.37016C8.91913 8.36056 8.86572 8.33955 8.8135 8.31494L8.64725 8.23632C8.53262 8.18231 8.41078 8.12769 8.27634 8.08808C8.20972 8.06767 8.1389 8.05087 8.06508 8.04126C7.99125 8.03166 7.91323 8.02626 7.83281 8.03466C7.75238 8.04246 7.67016 8.06047 7.59153 8.09288L7.53332 8.11869L7.4781 8.1499C7.45949 8.1601 7.44329 8.1733 7.42588 8.18471L7.38507 8.21351C7.31125 8.26933 7.21582 8.31314 7.11319 8.34675C7.01056 8.38096 6.89953 8.40197 6.78669 8.41818C6.55983 8.44939 6.32335 8.44638 6.08808 8.42538C5.67636 8.38577 5.26764 8.28133 4.88052 8.12109C4.88652 8.11208 4.89253 8.10368 4.89793 8.09528C4.93334 8.04126 4.96455 7.98665 4.99456 7.93083C5.00956 7.90322 5.02397 7.87501 5.03777 7.84681C5.05217 7.818 5.06478 7.79159 5.07858 7.75858L5.08098 7.75318C5.08518 7.74357 5.08818 7.73337 5.09119 7.72317C5.12059 7.60673 5.05037 7.4885 4.93394 7.45909C4.8175 7.42968 4.69927 7.4999 4.66986 7.61574C4.66386 7.63854 4.65546 7.66735 4.64825 7.69316C4.64045 7.72017 4.63265 7.74657 4.62425 7.77298C4.60804 7.8264 4.59064 7.87921 4.57263 7.93023C4.55403 7.98124 4.53482 8.03226 4.51321 8.07847C4.50241 8.10128 4.49101 8.12409 4.4802 8.14389L4.4718 8.1595L4.4634 8.1721L4.455 8.18531L4.43459 8.21231C4.37817 8.28974 4.36257 8.36356 4.35176 8.43078C4.34216 8.4986 4.34156 8.56282 4.34396 8.62584C4.35056 8.75188 4.37157 8.87251 4.40458 8.99015C4.40638 8.99615 4.41118 9.00095 4.41778 9.00155C4.42679 9.00275 4.43519 8.99675 4.43639 8.98835V8.98775C4.4556 8.87011 4.4796 8.75308 4.51141 8.64444C4.52702 8.58983 4.54682 8.53821 4.56783 8.4914C4.58944 8.44578 4.61884 8.40677 4.63985 8.39477L4.64345 8.39237L4.64525 8.39117L4.64825 8.38877L4.67046 8.37016L4.68606 8.35696C5.10199 8.59343 5.56353 8.74827 6.04187 8.8161C6.30235 8.85331 6.56823 8.86231 6.83711 8.8341C6.97215 8.8197 7.10719 8.79449 7.24223 8.75188C7.37727 8.70926 7.51291 8.65225 7.64075 8.55922L7.66356 8.54301L7.67616 8.53401C7.68456 8.52861 7.69236 8.52081 7.70137 8.5166C7.71037 8.5118 7.71877 8.5064 7.72777 8.5016L7.75538 8.4896C7.79259 8.47459 7.83281 8.46319 7.87662 8.45779C7.96485 8.44698 8.06688 8.45599 8.17431 8.47879C8.28174 8.5016 8.39397 8.53641 8.51101 8.57482C8.56923 8.59403 8.62924 8.61443 8.69286 8.63364C8.75708 8.65285 8.8225 8.67325 8.91073 8.68286C8.92153 8.68406 8.93534 8.68406 8.94674 8.68466C8.95334 8.68466 8.95874 8.68526 8.96535 8.68466L8.98755 8.68286L9.00916 8.68045C9.01636 8.67985 9.02596 8.67685 9.03437 8.67505C9.05177 8.67085 9.06798 8.66665 9.08718 8.65585C9.09678 8.65104 9.10579 8.64624 9.11479 8.64084L9.12259 8.63604C9.12499 8.63424 9.12799 8.63184 9.13039 8.63004L9.1346 8.62644L9.14 8.62404L9.1514 8.61803C9.18381 8.60303 9.23303 8.59523 9.28524 8.59403C9.33806 8.59343 9.39507 8.59703 9.45329 8.60423C9.51151 8.61143 9.57093 8.62344 9.63214 8.63424L9.72697 8.65164L9.75218 8.65585L9.75878 8.65705L9.76839 8.65765L9.78699 8.65885C9.814 8.66125 9.8314 8.65585 9.85241 8.65285C9.92923 8.63604 9.98685 8.60543 10.0451 8.57422C10.1591 8.51 10.2623 8.43678 10.3602 8.35576C10.3656 8.35156 10.3674 8.34375 10.3644 8.33715C10.3632 8.33055 10.3536 8.32695 10.3458 8.33055Z" fill="#B93AC6"></path>
</svg>
</span>
            <span class="new-mob-view">Yes, I'm 19+</span>
          </button>
        </div>
        <p class="new-bt-text">By entering this site you are agreeing to the Terms of Use and Privacy Policy.</p>
      </div>
    </div>
  </div>

  <script>
    // Function to check age
    function ageCheck() {
      const minAge = 18; // Set the minimum age
      const year = parseInt(document.getElementById('byear').value);
      const month = parseInt(document.getElementById('bmonth').value);
      const day = parseInt(document.getElementById('bday').value);
      const theirDate = new Date((year + minAge), month, day);
      const today = new Date();
      
      if (today < theirDate) {
        window.location.href = 'http://google.com'; // Redirect underage visitor
      } else {
        const days = 14; // Number of days until they must go through the age checker again
        const expires = new Date(Date.now() + days * 24 * 60 * 60 * 1000).toUTCString();
        setCookie('isAnAdult', 'true', 14);
        // document.cookie = `isAnAdult=true; expires=${expires}; path=/`;
        location.reload();
      }
    }

    function setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
      let expires = "expires="+d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    // Function to read cookie
    function readCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    // Check if user is an adult
    const isAnAdult = readCookie('isAnAdult');
    if (isAnAdult) {
      $("#exampleModalCenter").modal('hide');
    } else {
      $("#exampleModalCenter").modal('show');
    }
    
    
  </script>



</div>
