<sticky-header id="sticky_header" class="header-wrapper color-gradient" data-league-page="false">
    <header class="navbar smart-scroll  navbar-expand-lg fixed-top bg-transparent" id="dynamic">
      <div class="container-fluid">
        <a href="https://ghostdrops.com" class="shop_logo">
          <img src="//ghostdrops.com/cdn/shop/files/ezgif.com-gif-maker_9_500x.png?v=1659694987" alt="ghst-logo" class="black-logo">
        </a>
        <a class="navbar-brand lrg-logo" href="https://ghostdrops.com">
          <img src="//ghostdrops.com/cdn/shop/files/GD-logo-ani_500x_c608c949-1db9-4351-af80-5748dbeadbf5_500x.gif?v=1659692641" alt="ghst-logo" class="logo-wd lrg">
          <img src="//ghostdrops.com/cdn/shop/files/ezgif.com-gif-maker_9_500x.png?v=1659694987" alt="ghst-logo" class="logo-wd smll d-non">
        </a>

        <div class="navbar-header">
          <ul class="icons-bar mob-icons">
            <li>
              <a class="hover-icon" href="javascript:void(0)" data-toggle="modal" data-target="#search-modal" aria-describedby="a11y-external-message">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 26" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.0935C0 5.1872 4.73706 0.39917 10.5805 0.39917C13.3867 0.39917 16.0778 1.52589 18.0621 3.53147C20.0463 5.53706 21.161 8.25721 21.161 11.0935C21.161 16.9999 16.424 21.7879 10.5805 21.7879C4.73706 21.7879 0 16.9999 0 11.0935ZM20.986 19.7087L24.1371 22.2523H24.1919C24.8294 22.8967 24.8294 23.9415 24.1919 24.5859C23.5543 25.2302 22.5207 25.2302 21.8832 24.5859L19.2681 21.5888C19.0209 21.3398 18.882 21.0015 18.882 20.6487C18.882 20.296 19.0209 19.9577 19.2681 19.7087C19.7449 19.2352 20.5092 19.2352 20.986 19.7087Z" fill="#63D1F4"/>
</svg>            
                <lottie-player autoplay="" loop="" mode="normal" src="//ghostdrops.com/cdn/shop/t/42/assets/SearchIcon.json?v=99336355513671986621687199310" style="width: 27px;" background="transparent"></lottie-player>
              </a>
            </li>
            <li>
              <a class="hover-icon header-account-link" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModalLong" aria-describedby="a11y-external-message">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 30" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.1085 24.8214L24.1128 24.832C24.4481 25.6725 24.7359 26.3954 24.2825 26.9898C23.9373 27.4369 23.3266 27.6835 22.5624 27.6835C21.8077 27.6835 21.0179 27.4437 20.3367 27.0091C20.0045 26.7913 19.5213 26.504 19.186 26.504C19.0867 26.504 18.7833 26.504 18.3643 27.2452C17.6931 28.4252 16.8615 29.0228 15.89 29.0228C15.1545 29.0228 14.4065 28.6807 13.6005 27.9744C13.0991 27.5362 12.0847 27.5425 11.5864 27.9744C9.7127 29.6083 7.99888 29.3143 6.82255 27.2452C6.5872 26.8262 6.39108 26.6441 6.24542 26.5649L4.9782 26.927C4.93337 26.955 4.89017 26.9826 4.84912 27.0091C4.1685 27.4437 3.37871 27.6835 2.62758 27.6835C1.86025 27.6835 1.24963 27.4369 0.904356 26.9867C0.450436 26.3954 0.737727 25.6725 1.07673 24.832C1.35149 24.1441 1.66176 23.3642 1.66176 22.5457V9.90749C1.66176 3.69522 7.21222 0.443604 12.689 0.443604C17.9099 0.443604 23.5246 3.40688 23.5246 9.90749V22.5457C23.5246 23.3605 23.8348 24.1366 24.1085 24.8214Z" fill="#32CD32"/>
</svg>                  
                  <lottie-player autoplay="" loop="" mode="normal" src="//ghostdrops.com/cdn/shop/t/42/assets/GhostIcon.json?v=162754759048581741901687199309" style="width: 27px;" background="transparent"></lottie-player>
                </a>
            </li>
            <li>
              <a class="hover-icon" href="/cart">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 30" fill="none">
<path d="M12.0146 0C8.93545 0 6.42927 2.50306 6.42927 5.57835V6.55933H3.76717C1.97426 6.55933 0.516541 8.01523 0.516541 9.80591V26.2218C0.516541 28.0124 1.97426 29.4683 3.76717 29.4683H20.2659C22.0588 29.4683 23.5165 28.0124 23.5165 26.2218V9.80591C23.5165 8.01523 22.0588 6.55933 20.2659 6.55933H17.5999V5.57835C17.5999 2.50306 15.0937 0 12.0146 0ZM8.44825 5.57835C8.44825 3.6125 10.0463 2.01646 12.0146 2.01646C13.9829 2.01646 15.5809 3.6125 15.5809 5.57835V6.55933H8.44825V5.57835ZM20.2659 8.57579C20.9441 8.57579 21.4976 9.12857 21.4976 9.80591V26.2218C21.4976 26.8991 20.9441 27.4519 20.2659 27.4519H3.76717C3.08898 27.4519 2.53552 26.8991 2.53552 26.2218V9.80591C2.53552 9.12857 3.08898 8.57579 3.76717 8.57579H6.42927V10.7363C6.42927 11.293 6.88139 11.7445 7.43876 11.7445C7.99612 11.7445 8.44825 11.293 8.44825 10.7363V8.57579H15.5809V10.7363C15.5809 11.293 16.0331 11.7445 16.5904 11.7445C17.1478 11.7445 17.5999 11.293 17.5999 10.7363V8.57579H20.2659Z" fill="#B93AC6"/>
<rect x="2.47827" y="8.40845" width="19.3393" height="19.6196" fill="#B93AC6"/>
</svg>            
                <lottie-player autoplay="" loop="" mode="normal" src="//ghostdrops.com/cdn/shop/t/42/assets/BagIcon.json?v=130148279243503351711687199308" style="width: 27px;" background="transparent"></lottie-player>
              </a>
            </li>
          </ul>
          <button type="button" id="toggle-mobile" class="toggle mobile_toggle">
  <span></span>
</button>

<div id="navigation-mobile" class="header_navigation">
  <button class="arrow-left">
    <img src="//ghostdrops.com/cdn/shop/t/42/assets/arrow-left.png?v=162344946291811425161681823980" width="10" height="auto" loading="lazy">
  </button>
  <div id="wrapper-mobile" class="header_wrapper">
    <nav>
      <ul class="menu_list">
        <li class="parent_menu">
          
<a id="shop-all" href="#">Shop</a>
            
          

              <a href="/pages/members-only">Members Only</a>
            
          
        </li>
        <li>
          <img class="droplets-line" src="//ghostdrops.com/cdn/shop/t/42/assets/droplets-line.png?v=44223078794194585641681823981" width="316" height="auto" loading="lazy">
        </li>
        <li class="sub_menu">
          
          
            
            <a href="/pages/ghost-story">Ghost Story</a>
          
            
            <a href="/pages/where-to-buy">Store Locator</a>
          
            
            <a href="/collections/apparel">Apparel</a>
          
            
            <a href=""></a>
          
        </li>
      </ul>

      <ul class="child-menu">
        
<li>
                <a class="" href="/collections/new-drops">New Drops</a>
              </li>
            <li>
                <a class="" href="/collections/flower">Flower</a>
              </li>
            <li>
                <a class="" href="/collections/prerolls">Prerolls</a>
              </li>
            <li>
                <a class="" href="/collections/concentrates">Concentrates</a>
              </li>
            <li>
                <a class="" href="/collections/apparel">Apparel</a>
              </li>
            <li>
                <a class=" shopall_link " href="/collections/shop-all">Shop all</a>
              </li>
            
          
        

        

        

        

        
      </ul>
    </nav>
  </div>
  <div class="shape">
    <svg width="100%" height="100%" viewBox="0 0 1440 800" preserveAspectRatio="none">
      <path class="menu-morphing-path" d="M-22.4 -87.7C-30.7,8.200000000000003,34.5,488.1,194.2,496c189.3,9.4,264.6 -232.7,431.3 -231c187.6,2,331.6,482.9,528.2,492c443.7,20.5,435.1 -828.5,368.6 -954.8C1455.9 -324.1,34.5 -746.7 -22.4 -87.7z"></path>
    </svg>
  </div>
</div>

          <div class="toggle-button dsk-view" id="toggle-old">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
          </div>
        </div>

        <nav class="overlay" id="overlay">
          <a href="https://ghostdrops.com">
            <img src="//ghostdrops.com/cdn/shop/files/ezgif.com-gif-maker_9_500x.png?v=1659694987" alt="ghst-logo" class="white-overlay">
          </a>
          <div class="gap-area">
            <ul>
              
                <li class="">
                  <a href="#">Shop</a>
                </li>
              
                <li class="">
                  <a href="/pages/members-only">Members Only</a>
                </li>
              
                <li class="">
                  <a href="/pages/ghost-story">Ghost Story</a>
                </li>
              
                <li class="">
                  <a href="/pages/where-to-buy">Store Locator</a>
                </li>
              
                <li class="">
                  <a href="/collections/apparel">Apparel</a>
                </li>
              
            </ul>
            <b>Follow us</b>
            <ul class="social-bar top-men">
              <li>
                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            
<li class="nav-item">
                  <a id="nav_shop_all" class="nav-link" href="javascript:void(0)" aria-describedby="a11y-external-message">Shop</a>
                </li>
              
            

                <li class="nav-item">
                  <a class="nav-link" href="/pages/members-only">Members Only</a>
                </li>
              
            
          </ul>
          <div class="form-inline my-2 my-lg-0 ml-auto">
            <ul class="icons-bar desktop">
              <li>
                <a class="hover-icon" href="javascript:void(0)" data-toggle="modal" data-target="#search-modal" aria-describedby="a11y-external-message">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 26" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.0935C0 5.1872 4.73706 0.39917 10.5805 0.39917C13.3867 0.39917 16.0778 1.52589 18.0621 3.53147C20.0463 5.53706 21.161 8.25721 21.161 11.0935C21.161 16.9999 16.424 21.7879 10.5805 21.7879C4.73706 21.7879 0 16.9999 0 11.0935ZM20.986 19.7087L24.1371 22.2523H24.1919C24.8294 22.8967 24.8294 23.9415 24.1919 24.5859C23.5543 25.2302 22.5207 25.2302 21.8832 24.5859L19.2681 21.5888C19.0209 21.3398 18.882 21.0015 18.882 20.6487C18.882 20.296 19.0209 19.9577 19.2681 19.7087C19.7449 19.2352 20.5092 19.2352 20.986 19.7087Z" fill="#63D1F4"/>
</svg>      
                  <lottie-player autoplay="" loop="" mode="normal" src="//ghostdrops.com/cdn/shop/t/42/assets/SearchIcon.json?v=99336355513671986621687199310" style="width: 27px;" background="transparent"></lottie-player>
                </a>
              </li>
              <li>
                <a class="hover-icon header-account-link" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModalLong" aria-describedby="a11y-external-message">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 30" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.1085 24.8214L24.1128 24.832C24.4481 25.6725 24.7359 26.3954 24.2825 26.9898C23.9373 27.4369 23.3266 27.6835 22.5624 27.6835C21.8077 27.6835 21.0179 27.4437 20.3367 27.0091C20.0045 26.7913 19.5213 26.504 19.186 26.504C19.0867 26.504 18.7833 26.504 18.3643 27.2452C17.6931 28.4252 16.8615 29.0228 15.89 29.0228C15.1545 29.0228 14.4065 28.6807 13.6005 27.9744C13.0991 27.5362 12.0847 27.5425 11.5864 27.9744C9.7127 29.6083 7.99888 29.3143 6.82255 27.2452C6.5872 26.8262 6.39108 26.6441 6.24542 26.5649L4.9782 26.927C4.93337 26.955 4.89017 26.9826 4.84912 27.0091C4.1685 27.4437 3.37871 27.6835 2.62758 27.6835C1.86025 27.6835 1.24963 27.4369 0.904356 26.9867C0.450436 26.3954 0.737727 25.6725 1.07673 24.832C1.35149 24.1441 1.66176 23.3642 1.66176 22.5457V9.90749C1.66176 3.69522 7.21222 0.443604 12.689 0.443604C17.9099 0.443604 23.5246 3.40688 23.5246 9.90749V22.5457C23.5246 23.3605 23.8348 24.1366 24.1085 24.8214Z" fill="#32CD32"/>
</svg>                  
                    <lottie-player autoplay="" loop="" mode="normal" src="//ghostdrops.com/cdn/shop/t/42/assets/GhostIcon.json?v=162754759048581741901687199309" style="width: 27px;" background="transparent"></lottie-player>
                </a>
              </li>
              
              <li>
                <a class="hover-icon" href="/cart">
                 <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 30" fill="none">
<path d="M12.0146 0C8.93545 0 6.42927 2.50306 6.42927 5.57835V6.55933H3.76717C1.97426 6.55933 0.516541 8.01523 0.516541 9.80591V26.2218C0.516541 28.0124 1.97426 29.4683 3.76717 29.4683H20.2659C22.0588 29.4683 23.5165 28.0124 23.5165 26.2218V9.80591C23.5165 8.01523 22.0588 6.55933 20.2659 6.55933H17.5999V5.57835C17.5999 2.50306 15.0937 0 12.0146 0ZM8.44825 5.57835C8.44825 3.6125 10.0463 2.01646 12.0146 2.01646C13.9829 2.01646 15.5809 3.6125 15.5809 5.57835V6.55933H8.44825V5.57835ZM20.2659 8.57579C20.9441 8.57579 21.4976 9.12857 21.4976 9.80591V26.2218C21.4976 26.8991 20.9441 27.4519 20.2659 27.4519H3.76717C3.08898 27.4519 2.53552 26.8991 2.53552 26.2218V9.80591C2.53552 9.12857 3.08898 8.57579 3.76717 8.57579H6.42927V10.7363C6.42927 11.293 6.88139 11.7445 7.43876 11.7445C7.99612 11.7445 8.44825 11.293 8.44825 10.7363V8.57579H15.5809V10.7363C15.5809 11.293 16.0331 11.7445 16.5904 11.7445C17.1478 11.7445 17.5999 11.293 17.5999 10.7363V8.57579H20.2659Z" fill="#B93AC6"/>
<rect x="2.47827" y="8.40845" width="19.3393" height="19.6196" fill="#B93AC6"/>
</svg>                   
                  <lottie-player autoplay="" loop="" mode="normal" src="//ghostdrops.com/cdn/shop/t/42/assets/BagIcon.json?v=130148279243503351711687199308" style="width: 27px;" background="transparent"></lottie-player>
                </a>
              </li>
              <li class="desktop-toggle"><button type="button" id="toggle-desktop" class="toggle desktop_toggle">
  <span></span>
</button>
<div id="navigation-desktop" class="header_navigation">
  <div id="wrapper-desktop" class="header_wrapper">
    <img class="droplets" src="//ghostdrops.com/cdn/shop/t/42/assets/droplets.png?v=91259135764718181431681823981" width="512" height="auto" loading="lazy">
    <nav>
      <ul class="menu_list">
        <li>
          
          
            
            <a href="/pages/ghost-story">Ghost Story</a>
          
            
            <a href="/pages/where-to-buy">Store Locator</a>
          
            
            <a href="/collections/apparel">Apparel</a>
          
            
            <a href=""></a>
          
        </li>
      </ul>
    </nav>
  </div>
  <div class="shape">
    <svg width="100%" height="100%" viewBox="0 0 1440 800" preserveAspectRatio="none">
      <path class="menu-morphing-path" d="M-22.4 -87.7C-30.7,8.200000000000003,34.5,488.1,194.2,496c189.3,9.4,264.6 -232.7,431.3 -231c187.6,2,331.6,482.9,528.2,492c443.7,20.5,435.1 -828.5,368.6 -954.8C1455.9 -324.1,34.5 -746.7 -22.4 -87.7z"></path>
    </svg>
  </div>
</div>
</li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="shop-menu collapsed">
      <div class="container-fluid">
        <div class="menu-hover content">
          <ul>
            
<li class="menu_content"><a class="" href="/collections/new-drops">New Drops</a>
                  <a class="" href="/collections/flower">Flower</a>
                  <a class="" href="/collections/prerolls">Prerolls</a>
                  <a class="" href="/collections/concentrates">Concentrates</a>
                  <a class="" href="/collections/apparel">Apparel</a>
                  <a class=" shopall_link " href="/collections/shop-all">Shop all</a>
                  
                </li>
              
            

            

            

            

            
          </ul>
          <img class="ghost-smiler" src="//ghostdrops.com/cdn/shop/t/42/assets/ghost-smiler.png?v=54528580831066569421681823982" width="130" height="100" loading="lazy">
        </div>
      </div>
    </div>
  </sticky-header>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}