<style>
  .register-gallery-area{
    display:flex;
    justify-content:center;
    overflow:hidden;
    overflow-x:auto;
    flex-shrink:1
}
.gallery-scrollbar::-webkit-scrollbar{
    width:20px;
    background:transparent
}
.resgister-gallery-section{
    margin-top:155px;
    overflow:hidden
}
@media (min-width: 1000px){
    .new_register_gallery .gallery-item{
        margin-left:-30px
    }
    .new_register_gallery .gallery-item img{
        width:150px;
        height:100%;
        object-fit:cover
    }
}
@media (min-width: 1300px){
    .new_register_gallery .gallery-item{
        margin-left:-38px
    }
    .new_register_gallery .gallery-item img{
        width:186px;
        height:100%;
        object-fit:cover
    }
}
@media (max-width: 767px){
    .resgister-gallery-section{
        display:none
    }
}

</style>
<div  class="shopify-section new_register_gallery dark-bg">


<div class="resgister-gallery-section">
    <div class="container-fluid">
        <div class="register-gallery-area gallery-scrollbar">
            
                
                
                <a class="gallery-item" href="/products/banana-envy">
                    <img class="gallery-img" src="//ghostdrops.com/cdn/shop/files/BE_V2_186x.png?v=1684884705" alt="" loading="lazy">
                </a>
                
            
                
                
                <a class="gallery-item" href="https://ghostdrops.com/collections/shop-all">
                    <img class="gallery-img" src="//ghostdrops.com/cdn/shop/files/KS_V2_186x.png?v=1684883385" alt="" loading="lazy">
                </a>
                
            
                
                
                <a class="gallery-item" href="https://ghostdrops.com/collections/shop-all">
                    <img class="gallery-img" src="//ghostdrops.com/cdn/shop/files/KM_V2_186x.png?v=1684883305" alt="" loading="lazy">
                </a>
                
            
                
                
                <a class="gallery-item" href="/products/first-class-funk">
                    <img class="gallery-img" src="//ghostdrops.com/cdn/shop/files/FCF_V3_186x.png?v=1684883317" alt="" loading="lazy">
                </a>
                
            
                
                
                <a class="gallery-item" href="/products/z-splitter">
                    <img class="gallery-img" src="//ghostdrops.com/cdn/shop/files/ZS_V2_186x.png?v=1684883330" alt="" loading="lazy">
                </a>
                
            
                
                
                <a class="gallery-item" href="/products/route-41">
                    <img class="gallery-img" src="//ghostdrops.com/cdn/shop/files/R41_V2_186x.png?v=1684883350" alt="" loading="lazy">
                </a>
                
            
                
                
                <a class="gallery-item" href="/products/donny-burger">
                    <img class="gallery-img" src="//ghostdrops.com/cdn/shop/files/DB_V3_186x.png?v=1684883366" alt="" loading="lazy">
                </a>
                
            
                
                
                <a class="gallery-item" href="/products/c-r-e-a-m-cake">
                    <img class="gallery-img" src="//ghostdrops.com/cdn/shop/files/CC_V3_186x.png?v=1684883288" alt="" loading="lazy">
                </a>
                
            
        </div>
    </div>
</div>


  

  </div>
{% schema %}
  {
    "name": "Product Slider",
    "settings": [],
    	"presets": [
    {
      "name": "Product Slider"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}